* {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: large;
    background-color: skyblue;
    padding: 0px;
    width: 100%;
}

#toolbar {
    text-align: center;
    text-decoration:none;
    color: rgb(226, 218, 218);
    padding: 25px;
    background-color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

nav a {
    display: flexbox;
    gap: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration:none;
    text-align: center;
    background-color: #4321a1;
    margin: 3px;
	padding: 15px;
}
#wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.intro {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    text-align: center;
    margin: 10px;
    width: auto;
}
 
ul div {
    display: flexbox;
    background-color: #4520aa;
    color: white;
}

form {
    height: 100%;
    margin: 15px;
    display: flexbox;
    justify-content: center;
    padding: 10px;
}

@media (max-width: 768px) {
    body {
        padding: 0px;
        width: 100%;
        font-size: medium;
    }
    .intro {
        width: 100%;
    }
    #toolbar {
        padding: 10px;
    }
    nav a {
        font-size: small;
        display:block;
		padding:.2em;
		font-size:1.4em;
        border-bottom:1px solid #7f5eda;
    }
    .delivery div {
        width: 100%;
    }
    form {
        margin: 10px;
        width: 80%;
    }
    .contactMe{
        margin: 10px;
        width: 80%;
    }
}


