#toolbar {
    text-align: left;
    padding: 15px;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

nav {
    display: flexbox;
    gap: 5px;
    text-decoration:none;
    background-color: #4321a1;
    color: aliceblue;
	padding:10px;
}
#wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.intro {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-size: medium;
    background-color: skyblue;
    padding: 20px;
}