* {
    padding: 0;
    margin: 0;
}

body {
    font-size: large;
    background-color: skyblue;
    padding: 20px;
}

#toolbar {
    text-align: center;
    text-decoration:none;
    color: rgb(226, 218, 218);
    padding: 15px;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

nav a {
    display: flexbox;
    gap: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration:none;
    text-align: center;
    background-color: #4321a1;
	padding:10px;
}
#wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.intro {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

